<li>
  <div class="thumbnail">
    <div class="row">
      {{#link-to 'question' question.id}}
      <div class="col-md-6">
       {{question.asker}} has a question in the subject of {{question.subject}}
      </div>
      <div class="col-md-6"></div>
      {{/link-to}}
   </div>
  </div>
</li>
