<h2>Here is the question in the subject of {{model.subject}} asked by {{model.asker}}.</h2>

{{question-detail question=model destroyQuestion="destroyQuestion" destroyAnswer="destroyAnswer" update="update"}}

{{new-answer saveAnswer="saveAnswer" question=model}}
